.task-info__body {
  display: flex;
  flex-direction: column;
  padding: 25px;
  flex: 1 1 86%;
  cursor: default;

  .body-top {
    display: flex;
    flex-direction: column;
    gap: 3px;
    line-height: 11px;
    letter-spacing: 1px;

    .body-title {
      font-weight: bold;
    }

    .body-date {
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: 11px;
      color: rgba(111, 121, 133, 0.55);

      .icon {
        fill: rgba(111, 121, 133, 0.55);
        width: 12px;
        height: 12px;
      }
    }
  }

  .body-desc {
    padding: 30px 0;
    font-size: 11px;
    border-bottom: 1px solid rgba(148, 147, 163, 0.25);
  }

  .body-time {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 10px;
    font-weight: bold;
    padding: 30px 0;
    border-bottom: 1px solid rgba(148, 147, 163, 0.25);

  }

  .body-files {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }

  .body-comments {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 390px;
    overflow: auto;
    padding: 30px 8px;
    cursor: pointer;
  }

  .body-comments::-webkit-scrollbar {
    width: 3px;
  }

  .body-comments::-webkit-scrollbar-thumb {
    background-color: rgba(111, 121, 133, 0.66);
    border-radius: 20px;
    border: 3px solid transparent;
  }
}